.App {
  text-align: center;
}

#root {
  margin-top: 20px;
  text-align: right;
  
}

#root a {
  text-align: center;
  background-color: #19a197;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 30px;
  margin-top: 50px;
}

#root a:first-child {
  padding: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#root a:hover {
  background-color: #200020;
  transition: 1.2s;
  text-transform: uppercase;
}


#root nav {
  margin-top: 40px;
}


#root h1 {
  text-align: center;
  text-transform: uppercase;
  color: #200020;
}

#root p {
  line-height: 2;
  margin: 0 90px 0 90px;
  text-align: justify;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
